input#month-input {
    padding: 20px 0px 19px 12px;
    width: 75.7%;
    margin-right: 21px;
    border-radius: 12px;
    border: 1px solid #BDBDBD;
    outline: none;
    color: #828282;
    font-size: 14px;
  }
  