.navigationBar.active::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: inline-block;
  width: 60%;
  height: 4px;
  content: "";
  background-color: #2f80ed;
  border-radius: 4px 4px 0 0;
  transform: translateX(-50%);
}

.navigationActive {
  width: 100%;
  position: relative;
  padding: 16px 12%;
}



.navigationActive:hover {
  cursor: pointer;
  background-color: #dfdfdf54;
}