*{
  margin: 0;
}

.container {
  position: relative;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  max-width: 608px;
  margin: 0 auto;
  margin-top: 32px;
}
.container .navigation{
  color: #333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 114px;
}
.container .all-line {
  padding: 2px 45px;
  border-radius: 4px 4px 0px 0px;
  background: #2F80ED;
}

.navigation-bar {
  margin-bottom: 15px;
}

.navigation-bar:hover {
 cursor: pointer;
}

hr{
  background: #BDBDBD;
  margin-bottom: 16px;
}
